.popupContainer {
  position: fixed;
  width: 100%;
  top: 25vh;
  z-index: 10;
}

.popupContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--popup-text);
  background-color: var(--popup-background);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  width: 200px;
  margin: 50px auto;
  padding: 20px;
  & .guessInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    & .guessBar {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      & .guessPercentage {
        font-size: 0.8rem;
        color: var(--popup-bar-text);
        background-color: var(--popup-bar-green);
        margin-left: 5px;
      }      
    }    
  }
}

.greenWord {
  color: var(--valid);
  text-transform: uppercase;
}

.popupContainer button {
  padding: 5px;
  margin-top: 20px;
}

.nextWord {
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

/* Fancy Anim */
.glowGreen {
  animation-duration: 1s;
  animation-name: glowGreen;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes glowGreen {
  from {
    color: rgb(0, 134, 36);
    text-shadow: -2px 2px rgb(0, 253, 84);
  } to {
    color: rgb(18, 18, 18);
    text-shadow: 2px 2px rgb(19, 161, 0);
  }
}