/* WordGrid CSS */

.wordGrid {
  width: 440px;
  margin: 0 auto;
  color: var(--text);
}

.wordRow {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 80px);
  height: 80px;
  gap: 10px;
  margin-bottom: 10px;
}

.wordRowLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: capitalize;
  border: 4px solid var(--box-border);
}

.rightLetterWrongPlace {
  border-color: var(--wrong-place);
  background-color: var(--wrong-place);
}

.rightLetterRightPlace {
  border-color: var(--valid);
  background-color: var(--valid);
}

.wrongLetter {
  border-color: var(--not-valid);
  background-color: var(--not-valid);
}

.shakeWords {
  animation: shakeX .5s ease-in-out;
}

.rightWord {
  animation: shakeY 1s ease-in-out;
}

@keyframes shakeX {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shakeY {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10px);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(-10px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .wordGrid {
    width: 80%;
  }
  .wordRow {
    grid-template-columns: repeat(5, 60px);
    height: 70px;
  }  
}

@media only screen and (max-width: 400px) {
  .wordRow {
    grid-template-columns: repeat(5, 50px);
    height: 60px;
  }  

}